def {{rule_name}}(self):
    """ {{rule_name}} -> {{rule_0}}
    """
    expr_0 = self.{{p[0].nonterminal}}()
    
    terminal = None
    if self.match(terminals.{{p[1].terminal}}):
        terminal = self.previous()
    else:
        raise Exception()

    expr_1 = self.{{p[2].nonterminal}}()

    return (expr_0, terminal, expr_1)

