def {{rule_name}}(self):
    """ {{rule_name}} -> {{p[0].nonterminal}} {{p[1].terminal}}? 
    """
    expr = self.{{p[0].nonterminal}}()
    
    if self.match(terminals.{{p[1].terminal}}):
        terminal = self.previous()
        {%- if  shaper != None %}
        return shapers.{{shaper}}((expr, terminal))
        {%- else %}
        return (expr, terminal)
        {%- endif %}
    else:
        {%- if  shaper != None %}
        return shapers.{{shaper}}((expr, None))
        {%- else %}
        return (expr, None)
        {%- endif %}
        

